@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	scroll-padding-top: 1rem;
	scroll-behavior: smooth;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}
:root{
	--main-color: #56ab2f;
	--text-color: #020102;
	--bg--color: #fff;
}

section{
	padding: 4rem 0 2rem;
	text-align: left;
}

img{
	width: 100%;
}

body{
	color: var(--text-color);
}

.container{
	max-width: 1068px;
	margin-left: auto;
	margin-right: auto;	
}

header{
	display: block;
	width: 100%;
	position: absolute;
	top: 0;
    left: 0;
    z-index: 100;
}

.nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 35px;
}

#menu-icon{
	font-size: 24px;
	cursor: pointer;
	color: var(--text-color);
	display: none;
}

.logo{
	font-size: 1.2rem;
	font-weight: 700;
	color: var(--text-color);
}

.logo span{
	color: var(--main-color);
}

.navbar{
	display: flex;
	column-gap: 2rem;
}

.navbar a{
	color: var(--text-color);
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 500;
}

.navbar a:hover{
	color: var(--main-color);
	border-bottom: 3px solid var(--main-color);   
}


.home .home-text span{
	color: var(--main-color);
}
.home .home-text {
	text-align: center;
}
.heading{
	text-align: center;
}
.heading span{
   font-weight: 500;
   color: var(--main-color);
}

.plants-container{
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	margin-top: 2rem;
}

.plants-container .box{
	flex: 1 1 17rem;
	position: relative;
	height: 200px;
	border-radius: 0.5rem;
	overflow: hidden;
}

.plants-container .box img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}

.plants-container .box img:hover{
	transform: scale(1.1);
	transition: 0.5s;
	cursor: pointer;
}
.plants-container .box h2{
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	font-weight: 400;
	font-size: 1rem;
	background: var(--bg--color);
	padding: 8px;
    border-radius: 0.5rem;
}

.plants-container .box:hover h2{
	background: var(--main-color);
	color: var(--bg--color);
	cursor: pointer;
}
















